@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Estilos globales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url('resources\LSF.png'); /* Ajusta la ruta */
    background-position: center;
    background-color: #000;
    color: #fff;
}

/* Estilos para el logo y el menú de navegación */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

header .logo h2 {
    font-weight: 700;
    color: #fff;
}

header nav a {
    margin: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
}

header nav a:hover {
    color: #d4af37;
}

/* Estilos para la sección container */
.container {
    text-align: center;
    margin-top: 100px;
}

.container h1 {
    font-size: 3.5em;
    font-weight: 700;
    margin-bottom: 5%;
}

.container h2 {
    font-size: 4.2em;
    font-weight: 100;
    margin-bottom: 150px;
}

.container .login-btn {
    background-color: #d4af37;
    color: #000;
    padding: 18px 57px;
    font-size: 1.8em;
    font-weight: 700;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
}

.container .login-btn:hover {
    background-color: #b18b2f;
}

/* Estilos para los íconos de redes sociales */
.social-media {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.social-media a {
    margin: 0 10px;
    color: #fff;
    font-size: 1.5em;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    /* Ajusta esta altura según lo necesites */
}

.contact-form {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.form-group button {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #d4af37;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #d0be1a;
}

.box {
    background-color: rgba(255, 255, 255, 0.8); /* semitransparente */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 45%;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.box:hover {
    transform: translateY(-10px);
}

p {
    color: #666;
    font-size: 1em;
    line-height: 1.5;
}

.container_b {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

h3 {

    font-size: 3em;
    font-weight: 600;
    margin-bottom: 5%;
    margin-bottom: 20px;
    color: #000000;
    text-align: center; /* Centra el texto */
}

h4 {

    font-size: 3em;
    font-weight: 600;
    margin-bottom: 5%;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center; /* Centra el texto */
}