{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collector's Corner - Home</title>
    <!-- Ruta correcta para el archivo CSS -->
    <link rel="stylesheet" href="{% static 'css\home.css' %}">
</head>

<header>
    <div class="logo">
        <h2>RARITY TECH INNOVATIONS</h2>
    </div>
    <nav>
        <a href="{% url 'about' %}">About Us</a>
        <a href="{% url 'contact' %}">Contact Us</a>
        <!--a href="{% url 'services' %}">Services</a-->
        <a href="{% url 'login' %}">Login</a>
    </nav>
</header>

<div class="container">
    <h1>COLECTOR'S CORNER</h1>
    <h2>SIGN-UP NOW</h2>
    <a href="{% url 'login' %}" class="login-btn">LOGIN</a>
</div>

<div class="social-media">
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
</div>
</body>

</html>